In [ ]:
# Task 1. Create a Pandas Dataframes (dataframes as df) with numpy random values (4 features and 4 observation)
import pandas as pd
import numpy as np

np.random.seed(50)
data = np.random.rand(4, 4)
df = pd.DataFrame(data, columns=['F1', 'F2', 'F3', 'F4'])
print(df)

         F1        F2        F3        F4
0  0.494602  0.228083  0.255474  0.396330
1  0.377315  0.996574  0.408197  0.771894
2  0.760537  0.310009  0.346541  0.351765
3  0.145467  0.972665  0.909178  0.559957

In [ ]:
# Task 2. Rename the task 1 'df' datframes columns name to 'ramdom value 1' ,'random value 2','random value 3','random value 4'
df.rename(columns={'F1': 'random value 1',
                   'F2': 'random value 2',
                   'F3': 'random value 3',
                   'F4': 'random value 4'}, inplace=True)
print(df)

   random value 1  random value 2  random value 3  random value 4
0        0.494602        0.228083        0.255474        0.396330
1        0.377315        0.996574        0.408197        0.771894
2        0.760537        0.310009        0.346541        0.351765
3        0.145467        0.972665        0.909178        0.559957

In [ ]:
# Task 3 : find the descriptive statistics of the df dataframes
statistics_describe = df.describe()
print(statistics_describe)

       random value 1  random value 2  random value 3  random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.444480        0.626833        0.479848        0.519986
std          0.255815        0.414603        0.293015        0.190302
min          0.145467        0.228083        0.255474        0.351765
25%          0.319353        0.289528        0.323774        0.385189
50%          0.435958        0.641337        0.377369        0.478144
75%          0.561085        0.978642        0.533443        0.612941
max          0.760537        0.996574        0.909178        0.771894

In [ ]:
# Task 4 : Check for the null values in 'df' and find the data type of the columns
null_values = df.isnull().sum()
data_types = df.dtypes
print(null_values)
print(data_types)

random value 1    0
random value 2    0
random value 3    0
random value 4    0
dtype: int64
random value 1    float64
random value 2    float64
random value 3    float64
random value 4    float64
dtype: object

In [ ]:
# Task 5 : Display the random value 2 and random value3 columns with location and index location method
label_based_result = df.loc[:, ['random value 2', 'random value 3']]
print(label_based_result)
index_based_result = df.iloc[:, [1, 2]]
print(index_based_result)

   random value 2  random value 3
0        0.228083        0.255474
1        0.996574        0.408197
2        0.310009        0.346541
3        0.972665        0.909178
   random value 2  random value 3
0        0.228083        0.255474
1        0.996574        0.408197
2        0.310009        0.346541
3        0.972665        0.909178